.custom-step-icon {
    width: 18px;
    height: 18px;
    border: 2px dashed #8c9196;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}

.progress_bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progress_txt {
    width: 20%;
}

.step-row {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    padding: 4px 16px;
    /* width: 100%; */
}

.current-step-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-btn {
    padding: 4px 16px;
}

.accordion-trigger {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #e5e7eb;
    background-color: #f7f7f7;
}

.accordion-trigger:hover {
    background-color: var(--p-color-bg-surface-hover);
}

.cart-head,
h2 {
    color: #000;
}

.subhead,
.acc_ttl {
    color: #000;
}

.acc_ttl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

button#nextURL,
button#previousURL {
    background-color: #fff;
}

.Polaris-ButtonGroup__Item {
    padding-left: 2px;
}

.step-done-icon {
    width: 18px;
    height: 18px;
    background: #303030;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-wrapper {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.badge-wrapper svg {
  background: transparent !important;
  box-shadow: none !important;
}


.active-badge,
.inactive-badge {
  width: auto;
  height: 21px;        
  min-width: 64px;     
  max-width: 72px;
  background: transparent !important;
  display: inline-block;
}

@media (max-width: 768px) {
  .active-badge,
  .inactive-badge {
    background: transparent !important;
    max-width: 54px;
  }
}

@media (max-width: 480px) {
  .active-badge,
  .inactive-badge {
    height: 19px;
    background: transparent !important;
    min-width: 60px;
  }
}


@media (max-width: 989px) {
    .progress_txt {
        width: 29%;
    }
}

@media (max-width: 767px) {
    .progress_bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .progress_txt {
        width: 100%;
        padding-bottom: 5px;
    }
}