@media screen and (max-width: 500px){
    .cust_card_inner{
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .cust_step_icon{
        width: 30px;
        height: 30px;
    }

    .cust_step_iwt{
        align-items: start;
    }

    .cust_step_img svg {
        max-width: 70px;
        max-height: 70px;
    }
}